---
layout: default
---

<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="author__inner">
    {% if site.author.image %}
      <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
    {% endif %}

      <h1 class="author__job"><br/>{{ site.author.job }}</h1>
      <p class="author__bio">{{ site.author.bio }}</p>
      <div class="author__more">
        <a href="https://39e79f60.sibforms.com/serve/MUIEAKukM1ro4Qbaba_81T_raW03TUcAZW58qO8qzwge-lOTwYLyFQTGCpEHUvgedUHX-oNApeXSnwXQ_gRNU4pzCx2dJvqUrqLSmrXJCWWZdoR9rxaz1rAFwZhLREfKvI5bEjm_ctAlQAE17K-opoQWfqoHRaFlwDOnyIHrDUs7yv-zES49UOFrZ8MEpxONZq-W9gkxuqIxNzSk" class="say-hello"> Recevez toutes les infos</a>
      </div>
    </div>
    <br/>
    <br/>
    <center><h1>👇</h1></center>
    <br/>
    <center><h4>  Ils nous font confiance </h4></center>
    <div class="images-container">
      {% for item in site.data.entreprises2 %}
        {% for item2 in item %}
      <div class="image-content">
        <img src="{{ item2.url }}";/>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </section>
</div>
